:root{
    --colorTop: rgba(97,210,242,.8);
    --colorMid: rgba(98,219,193,.8);
    --colorBot: rgba(112,235,89, .8);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
h1, h2, h3, h4{
    cursor: default;
}

body{
    min-height: 100vh;
    background: linear-gradient(to bottom,
    var(--colorTop),
    var(--colorMid),
    var(--colorBot)
    ),url(../img/fondo.jpg);
    background-position: center; 
    background-size: cover; 
}

.block-container{
    display: block;
}

.flex-container{
    width: 100%;
    display: flex;
    padding: 0.5em 0.5em;
}

input[type="submit"],  button[type="submit"], button[type="button"] {
    padding: .3em 1em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transition: 1s;
    font-size: 1em;
}

input[type="submit"]:hover,  button[type="submit"]:hover, button[type="button"]:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s;
    transform: scale(1.2);
}